<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head') %> 
    <title>Now Playing</title>
</head>
<body>
    <%- include('../partials/header') %>

    <ul>
        <% myData.forEach(data => { %>
            <li><img src="<%=`https://image.tmdb.org/t/p/w500/${data.poster_path}`%>" height="300px" width="150px" alt=""></li>
            <li class="title"><%= data.original_title %> </li>
            <li><%= data.overview %> </li>
            <br>
        <% }) %>
    </ul>
    

    
</body>
</html>